*{

    margin:0;
    padding:0;
    box-sizing: border-box;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
/* FONT */
body{
    font-family: 'Montserrat', sans-serif;
    color:rgb(51,71,91);
}
h1{
    font-size: 40px;
}
p{
    font-size: 14px;
    line-height: 30px;
}
/* ALTEZZE DA CANCELLARE */
section.bg-blue, section.bg-white, footer{
    height:400px;
}
/* COLORI DI SFONDO */
.bg-white{
    background-color: #fff;
}
.bg-lightgrey{
    background-color: #f5f8fa;
}
.bg-blue{
    background-color: #00ABB5
}
.bg-grey{
    background-color: #33475b;
}
/* CONTAINER */
.container{
    width: 75%;
    max-width: 1200px;
    height: 100%;
    margin:0 auto;
    border: 1px solid red; /* DA CANCELLARE */
}
/* TOPBAR */
#topbar, header nav{
    height: 70px;
}
#topbar{
    text-transform: capitalize;
    border-bottom: 1px solid black;
    position: fixed;
    top:0;
    width:100%;
}
#topbar ul{
    float: left;
    list-style:none;
    line-height: 70px;
}
#topbar ul li{
    float:left;
    padding: 0 10px;
    border-right: 2px solid grey;
}
#topbar ul li:first-child{
    padding-left: 0;
}
#topbar ul li:last-child{
    border:none;
}
#topbar ul li a{
    text-decoration: none;
    color:rgb(51,71,91);
    font-size: 14px;
}
#topbar .fa-globe-europe{
    padding-right:5px;
}
#topbar .fa-chevron-down{
    padding-left:5px;
}
#topbar .cta-container{
    float:right;
    line-height:70px;
}
.cta-container i{
    color:#02A5BE;
}
button{
    font-size: 12px;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.5px;
    margin-left: 20px;
}
button a{
    text-decoration: none;
}
.btn{
    border: 1px solid #ff7a59;
    border-radius: 5px;
}
.btn-pieno{
    background-color:#ff7a59;
}
.btn-pieno a{
    color:white;
}
.btn-vuoto a{
    color:#ff7a59;
}
.btn-small{
    padding: 8px 10px;
}
/* HEADER TOP */
header{
    margin-top:70px;
}
.header-top nav{
    text-transform: capitalize;
    float:right;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}
.header-top #logo{
    float:left;
}
.header-top ul li{
    padding: 0 10px;
    float:left;
    line-height: 70px;
    list-style: none;
}
.header-top ul li a{
    color:rgb(51,71,91);
    text-decoration: none;
}
.header-top .fa-chevron-down{
    padding-left:10px;
}
/* BANNER */
header #banner{
    height:570px;
    background-image: url('../img/bg-jumbotron.png');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}
.jumbotron{
    width:50%;
}
.btn-big{
    padding:13px 30px;
    margin:20px 0;
    display: block;
}
.jumbotron h1{
    margin:30px 0 20px;
}
.jumbotron span{
    font-size: 12px;
}
header hr{
    height: 70px;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    background-color: aquamarine;
}
/* SECTION */
.lightgrey h2, .lightgrey h3, .white h2, .white h3{
    text-transform: capitalize;
}
.container-70{
    width:70%;
    max-width:1200px;
    text-align: center;
    margin:50px auto;
}
.card{
    background-color: white;
    box-shadow: 0px 0px 3px 3px lightgrey;
    border-radius: 5px;
}
.card-large{
    padding: 50px;
}
.container-33{
    width:33.3333%;
    float:left;
    text-align: center;
}
.container-33 button{
    margin:20px auto;
}
.container-66{
    width:66.6666%;
    float:left;
}
.card h3{
    text-transform: capitalize;
    margin:20px 0;
    font-size: 20px;
}
.card h4{
    text-transform: uppercase;
    margin:15px 0;
}
.card i{
    color: #ff7a59;
    padding: 0 10px;
}
.card-large hr{
    display: inline-block;
    width: 65%;
    vertical-align: middle;
}
.card-large h4{
    display: inline-block;
    margin: 15px 30px 15px 0;
}
.card span{
    font-size: 14px;
    line-height: 30px;
    margin-right:10px;
    text-transform: capitalize;
}
.row .card{
    width:30%;
    float: left;
    margin-top:50px;
    margin-bottom:50px
}
.card-small{
    background-color: white;
    box-shadow: 0px 0px 5px 5px lightgrey;
    border-radius: 5px;
    text-align:center;
    padding:15px 30px;
    margin-right:5%;
}
.card-small:last-child{
    margin-right:0;
}
.card-small .btn-big{
    margin:40px auto 0;
}
.card-small .partealta{
    height:300px;
    margin-bottom:60px;
}
.card-small span{
    text-align: left;
    display:block;
    line-height:20px;
}
.card-small hr{
    margin-bottom:35px;
}
